@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Merriweather'; /* this value can be anything you wish - it gets used in the class definition below */
  font-weight: 400;
  src: url('/fonts/Merriweather-Regular.ttf'); /* add the file path to your font here */
}

@font-face {
  font-family: 'Merriweather'; /* this value can be anything you wish - it gets used in the class definition below */
  font-weight: 300;
  src: url('/fonts/Merriweather-Light.ttf'); /* add the file path to your font here */
}

@font-face {
  font-family: 'Merriweather'; /* this value can be anything you wish - it gets used in the class definition below */
  font-weight: 700;
  src: url('/fonts/Merriweather-Bold.ttf'); /* add the file path to your font here */
}

* {
    @apply font-merriweather focus:border-none focus:outline-none;
}

@layer base {
  :root {
    --container: 930px;
    background: #16131d;
  }

  .noise-bg {
    background: url(/noise.png);
    animation: noise 150ms ease-in-out infinite;
  }
}

@keyframes noise {
	0% {
		background-position: 0rem 9rem;
	}
	10% {
		background-position: -1rem -4rem;
	}
	20% {
		background-position: -8rem -4rem;
	}
	30% {
		background-position: 9rem -9rem;
	}
	40% {
		background-position: -2rem 7rem;
	}
	50% {
		background-position: -9rem 4rem;
	}
	60% {
		background-position: 2rem 6rem;
	}
	70% {
		background-position: 7rem -8rem;
	}
	80% {
		background-position: -9rem 1rem;
	}
	90% {
		background-position: 6rem -5rem;
	}
	100% {
		background-position: -7rem 0rem;
	}
}
