---
import Layout from '../layouts/Layout.astro';
import Experience from "../components/index/Experience.svelte";
import WhatIveUsed from "../components/index/WhatIveUsed.svelte";
import HrTitle from "../components/shared/HrTitle.svelte";
import NoBlogs from "../components/shared/NoBlogs.svelte";
import { getImage } from "@astrojs/image"

const { src: profile } = await getImage({ src: 'profile.png', format: 'webp', width: 220, height: 250, alt: '',  })
const { src: webrevived } = await getImage({ src: 'webrevived.jpg', format: 'webp', width: 400, height: 400, alt: '',  })
---

<Layout title="Nathans | Portfolio">
<header
	class="
        w-full
        grid
        grid-cols-[1fr] md:grid-cols-[1fr,max-content]
        gap-y-6
        justify-items-start
        items-end
      "
>
	<h2 class="text-yellow-300 text-3xl max-w-[600px] font-black underline">Hey I'm Nathan 👋</h2>
	<p class="max-w-[600px] leading-[1.5rem]">
		I've been a problem-solving enthusiast since I was a wee bambi. In my spare time, I convert
		concepts from frontend-mentor into fullstack applications. You can often find me chatting and
		helping with like-minded members of various online communities. Professionally by trade I'm a
		software engineering consultant currently with Visual Boston. However, I'm always open to new &
		enticing problems to solve so let’s connect at
		<a
			href="mailto:reach@yofou.dev"
			class="
            py-1
            px-3
            inline-block
            mt-2
            bg-purple-300
            text-yellow-300
            rounded-full
      ">
      reach@yofou.dev
    </a>.
	</p>

	<img
		class="
          hidden
          md:block
          w-[220px]
          h-[250px]
          col-start-2 col-end-3
          row-start-1 row-end-3
          object-cover
        "
		src={profile}
		alt=""
		width="220"
		height="250"
	/>
</header>

<HrTitle>Experience</HrTitle>
<Experience webrevived={webrevived} />

<HrTitle>What I've Worked with</HrTitle>
<WhatIveUsed client:visible />

<HrTitle>Blogs</HrTitle>
<NoBlogs />
</Layout>
