---
import "../styles/app.css"
import Nav from "../components/shared/Nav.svelte"
import Cursor from "../components/shared/Cursor.svelte";
export interface Props {
	title: string;
}

const { title } = Astro.props;

const { pathname } = Astro.url
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main
			class="
      			w-full
      			justify-center
      			min-h-screen
      			grid-flow-row
      			auto-rows-max
      			grid grid-cols-container
      			py-20
      			px-4
      			text-white
      			selection:bg-purple-500
    		"
		>
			<Nav url={pathname} />
  			<slot />
		</main>

		<Cursor client:load />
	</body>
</html>
